{{ define "content" }}
<a class="btn btn-success" href="/companies/{{ .Company.ID }}/changelog">Object Changelog</a>
{{ if $.CanUpdateCompany }}<a class="btn btn-primary" style="color: white;" id="edit-mode-button" onclick="enableEditMode()">Edit mode</a>{{ end }}
<a class="btn btn-primary edit-mode" style="color: white;" onclick="disableEditMode()">Exit edit mode</a>
{{ if $.CanDeleteCompany }}<a class="btn btn-danger edit-mode" href="/companies/{{ .Company.ID }}/delete">Delete company</a>{{ end }}
<br /><br />
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <table width=100%>
                    <tr>
                        <th>Name</th>
                        <td>
                            <div id="name-label">{{ .Company.Name }}<a class="edit-mode" href="#" onclick="nameFormOn()"><i class="fas fa-pen"></i></a></div>
                            <form id="name-form" style="display: none;" class="form-inline" method="post" action="/companies/{{ uts $.Company.ID }}/edit">
                                <input type="text" class="form-control mb-2 mr-sm-2" name="name" value="{{ .Company.Name }}">
                                <button type="submit" class="btn btn-primary mb-2">Save</button>
                                <a role="button" href="#" onclick="nameFormOff()" type="back" class="btn btn-secondary">Back</a>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>Verticals</th>
                        <td>
                            <div id="sector-label">
                                {{ range $k, $v := .Company.Verticals }}{{ if ne $k 0 }}, {{ end }}{{ $v.Name }}{{ end }}
                                <a class="edit-mode" href="#" onclick="sectorFormOn()"><i class="fas fa-pen"></i></a>
                            </div>
                            <form id="sector-form" style="display: none;" class="form-inline" method="post" action="/companies/{{ uts $.Company.ID }}/edit">
                                <div class="form-group">
                                    {{ range $i, $v := .Verticals }}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="{{ $v.ID }}" id="verticals-{{ $v.ID }}" name="verticals[]">
                                        <label class="form-check-label" for="verticals-{{ $v.ID }}">{{ $v.Name }}</label>
                                    </div>
                                    {{ end }}
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">Save</button>
                                <a role="button" href="#" onclick="sectorFormOff()" type="back" class="btn btn-secondary">Back</a>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>
                            <div id="type-label">
                                {{ .Company.Type.Name }} ({{ .Company.Type.Abbreviation }})
                                <a class="edit-mode" href="#" onclick="typeFormOn()"><i class="fas fa-pen"></i></a>
                            </div>
                            <form id="type-form" style="display: none;" class="form-inline" method="post" action="/companies/{{ uts $.Company.ID }}/edit">
                                <select class="custom-select my-1 mr-sm-2" id="type" name="type">
                                    {{ range $i, $c := .CompanyTypes }}
                                    <option value="{{ $c.ID }}" {{ if eq (uts $.Company.TypeID) (uts $c.ID) }}selected{{ end }}>{{ $c.Name}} ({{ $c.Abbreviation }})</option>
                                    {{ end }}
                                </select>
                                <button type="submit" class="btn btn-primary mb-2">Save</button>
                                <a role="button" href="#" onclick="typeFormOff()" type="back" class="btn btn-secondary">Back</a>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th>Headquarter Country</th>
                        <td>
                            <div id="country-label">{{ .Company.Country }}<a class="edit-mode" href="#" onclick="countryFormOn()"><i class="fas fa-pen"></i></a></div>
                            <form id="country-form" style="display: none;" class="form-inline" method="post" action="/companies/{{ uts $.Company.ID }}/edit">
                                <input type="text" class="form-control mb-2 mr-sm-2" name="country" value="{{ .Company.Country }}">
                                <button type="submit" class="btn btn-primary mb-2">Save</button>
                                <a role="button" href="#" onclick="countryFormOff()" type="back" class="btn btn-secondary">Back</a>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                Owners:
                <ul>
                    {{ range .Owners }}
                    <li>{{ .RealName }}</li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin-top:30px;">
        <div class="card">
            <div class="card-body">
                <table style="width: 100%">
                    <tr>
                        {{ range $i, $c := .CompanyTypes }}<td style="width: 10%; vertical-align: top;">
                            <b>{{ $c.Abbreviation }}</b>
                            {{ if $.CanCreateRelationships }}
                            <a class="edit-mode" href="#" onclick="javascript:document.getElementById('new-{{ $c.Abbreviation }}').style.display = 'block';">
                                <i class="fas fa-plus" style="color: green;"></i>
                            </a>
                            {{ end }}
                            <br />
                            <div class="card" id="new-{{ $c.Abbreviation }}" style="width: 100%; display: none;">
                                <div class="card-body">
                                    <form method="post" action="/companies/{{ uts $.Company.ID }}/relationships">
                                        <div style="float: inline-end;">
                                            <a href="#" onclick="javascript:document.getElementById('new-{{ $c.Abbreviation }}').style.display = 'none';">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </a>
                                        </div>
                                        <div class="form-group" style="display: none;">
                                            <label for="type">Company</label>
                                            <select class="custom-select my-1 mr-sm-2" id="left" name="left">
                                                <option value="{{ $.Company.ID }}" selected>{{ $.Company.Name }}</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="type">Name</label>
                                            <select class="custom-select my-1 mr-sm-2" id="right" name="right">
                                                {{ range $j, $x := (index $.Companies (uts $c.ID)) }}
                                                {{ if ne (uts $.Company.ID) (uts $x.ID) }}
                                                <option value="{{ $x.ID }}">{{ $x.Name }}</option>
                                                {{ end }}
                                                {{ end }}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Tier</label>
                                            {{ range $j, $t := $.Tiers }}
                                            {{ if gt $t.ID 0 }}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="tier" id="tier-{{ $c.Abbreviation }}-{{ $t.ID }}" value="{{ $t.ID }}" {{ if eq $j 0 }}checked{{ end }}>
                                                <label class="form-check-label" for="tier-{{ $c.Abbreviation }}-{{ $t.ID }}">
                                                    {{ $t.Name }}
                                                    <i class="fas fa-medal" style="color: #{{ $t.Color }}"></i>
                                                </label>
                                            </div>
                                            {{ end }}
                                            {{ end }}
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                            {{ range $j, $r := (index $.Relationships (uts $c.ID)) }}
                            {{ if $.CanDeleteRelationships }}
                            <a class="edit-mode" href="/companies/{{ uts $.Company.ID }}/relationships/{{ $r.ID }}/delete"><i class="fas fa-trash"></i></a>
                            {{ end }}
                            {{ if $.CanUpdateRelationships }}
                            <a class="edit-mode" href="#" onclick="javascript:document.getElementById('edit-{{ $r.ID }}').style.display = 'block';"><i class="fas fa-pen"></i></a>
                            {{ end }}
                            <a href="/companies/{{ uts $r.RightCompany.ID}}" title="{{ $r.Notes }}">{{ $r.RightCompany.Name }}</a>
                            <i class="fas fa-medal" title="{{ (index $.Tiers $r.LeftTier).Name }}" style="color: #{{ (index $.Tiers $r.LeftTier).Color }}"></i>
                            <br />
                            <div class="card" id="edit-{{ $r.ID }}" style="width: 100%; display: none;">
                                <div class="card-body">
                                    <form method="post" action="/companies/{{ $.Company.ID }}/relationships/{{ $r.ID }}">
                                        <div style="float: inline-end;">
                                            <a href="#" onclick="javascript:document.getElementById('edit-{{ $r.ID }}').style.display = 'none';">
                                                <i class="fas fa-times" style="color: red;"></i>
                                            </a>
                                        </div>
                                        <div class="form-group">
                                            <label>Tier</label>
                                            {{ range $j, $t := $.Tiers }}
                                            {{ if gt $t.ID 0 }}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="tier" id="tier-{{ $r.ID }}-{{ $t.ID }}" value="{{ $t.ID }}" {{ if eq $j $r.LeftTier }}checked{{ end }}>
                                                <label class="form-check-label" for="tier-{{ $r.ID }}-{{ $t.ID }}">
                                                    {{ $t.Name }}
                                                    <i class="fas fa-medal" style="color: #{{ $t.Color }}"></i>
                                                </label>
                                            </div>
                                            {{ end }}
                                            {{ end }}
                                        </div>
                                        <div class="form-group">
                                            <label for="notes-{{ $r.ID }}">Notes</label>
                                            <textarea class="form-control" id="notes-{{ $r.ID }}" name="notes" rows="3">{{ $r.Notes }}</textarea>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>
                            {{ end }}
                        </td>{{ end }}
                    </tr>
                    <tr>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ define "js" }}
if (window.location.search.indexOf('edit_mode=true') > -1) {
    enableEditMode()
}

function enableEditMode() {
  window.history.replaceState({}, document.title, "/companies/{{ $.Company.ID }}?edit_mode=true");
  document.getElementById("edit-mode-button").style.display = "none";
  var cols = document.getElementsByClassName('edit-mode');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.display = 'inline-block';
  }
}
function disableEditMode() {
  window.history.replaceState({}, document.title, "/companies/{{ $.Company.ID }}");
  document.getElementById("edit-mode-button").style.display = "inline-block";
  var cols = document.getElementsByClassName('edit-mode');
  for(i = 0; i < cols.length; i++) {
    cols[i].style.display = 'none';
  }
}
function nameFormOn() {
  document.getElementById("name-label").style.display = "none";
  document.getElementById("name-form").style.display = "inline-block";
}
function nameFormOff() {
  document.getElementById("name-label").style.display = "inline-block";
  document.getElementById("name-form").style.display = "none";
}
function sectorFormOn() {
  document.getElementById("sector-label").style.display = "none";
  document.getElementById("sector-form").style.display = "inline-block";
}
function sectorFormOff() {
  document.getElementById("sector-label").style.display = "inline-block";
  document.getElementById("sector-form").style.display = "none";
}
function typeFormOn() {
  document.getElementById("type-label").style.display = "none";
  document.getElementById("type-form").style.display = "inline-block";
}
function typeFormOff() {
  document.getElementById("type-label").style.display = "inline-block";
  document.getElementById("type-form").style.display = "none";
}
function countryFormOn() {
  document.getElementById("country-label").style.display = "none";
  document.getElementById("country-form").style.display = "inline-block";
}
function countryFormOff() {
  document.getElementById("country-label").style.display = "inline-block";
  document.getElementById("country-form").style.display = "none";
}
{{ end }}
