{{ define "content" }}
<a class="btn btn-primary" href="/companies/{{ .Company.ID }}/edit">Edit company</a>
<a class="btn btn-danger" href="/companies/{{ .Company.ID }}/delete">Delete company</a>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <table width=100%>
                    <tr>
                        <th>Name</th>
                        <td>{{ .Company.Name }}</td>
                    </tr>
                    <tr>
                        <th>Industry</th>
                        <td>{{ .Company.Industry }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ if eq .Company.Type 1 }}Partner{{ else }}Customer{{ end }}</td>
                    </tr>
                    <tr>
                        <th>Country</th>
                        <td>{{ .Company.Country }}</td>
                    </tr>
                    <tr>
                        <th>Sales Manager</th>
                        <td>{{ .Company.SalesManager }}</td>
                    </tr>
                    <tr>
                        <th>Technical Manager</th>
                        <td>{{ .Company.TechnicalManager }}</td>
                    </tr>
                    <tr>
                        <th>Notes</th>
                        <td>{{ .Company.Notes }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary" href="/relationships/new?left_id={{ .Company.ID }}">Add relation</a><br />
                <b>Left</b>
                <table width=100%>
                    <tr>
                        <th></th>
                        <th>Referent</th>
                        <th>Other company</th>
                        <th>OC Referent</th>
                        <th>Type</th>
                        <th>Quality</th>
                        <th>Notes</th>
                    </tr>
                    {{ range $i, $r := .Company.RelationshipsLeft }}
                    <tr>
                        <td><a href="/relationships/{{ $r.ID }}/delete"><i class="fas fa-trash"></i></a></td>
                        <td>{{ $r.LeftPoC }}</td>
                        <td><a href="/companies/{{ $r.RightID }}">{{ $r.RightCompany.Name }}</a></td>
                        <td>{{ $r.RightPoC }}</td>
                        <td>{{ $r.Type }}</td>
                        <td>{{ $r.Quality }}</td>
                        <td>{{ $r.Notes }}</td>
                    </tr>
                    {{ end }}
                </table>
                <br /><b>Right</b>
                <table width=100%>
                    <tr>
                        <th></th>
                        <th>Referent</th>
                        <th>Other company</th>
                        <th>OC Referent</th>
                        <th>Type</th>
                        <th>Quality</th>
                        <th>Notes</th>
                    </tr>
                    {{ range $i, $r := .Company.RelationshipsRight }}
                    <tr>
                        <td><a href="/relationships/{{ $r.ID }}/delete"><i class="fas fa-trash"></i></a></td>
                        <td>{{ $r.RightPoC }}</td>
                        <td><a href="/companies/{{ $r.LeftID }}">{{ $r.LeftCompany.Name }}</a></td>
                        <td>{{ $r.LeftPoC }}</td>
                        <td>{{ $r.Type }}</td>
                        <td>{{ $r.Quality }}</td>
                        <td>{{ $r.Notes }}</td>
                    </tr>
                    {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
